.note {
  margin-bottom: 2rem;
}

.notes button {
  margin-right: 1rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  margin: 0 auto;
}

h3,
p {
  margin: 1rem auto;
}
